@model Projekt_MVC.Models.Sklep.CreateSklepListViewModel


@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
<style>
    body {
        background-color: #d4d4d4;
        color:
    }
</style>


<h3 class="display-5 text-center link-dark fw-bold mb-3">Dodaj dane o sklepie</h3>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post" asp-controller="SklepList" asp-action="CreateNewSklep">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group fw-bold">
                <label asp-for="Name" class="control-label mb-1"></label>
                <input asp-for="Name"  class="form-control mb-1" />
                <span asp-validation-for="Name" class="text" id="danger"></span>
               @* @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { @id="name", @name="name", @required="required" } })
                @Html.ValidationMessageFor(Model => Model.Name)*@
               @* @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { @id="name", @name="name", @required="required" } })
                @Html.ValidationMessageFor(Model => Model.Name)*@
            </div>
            <div class="form-group fw-bold">
                <label asp-for="Address" class="control-label mb-1"></label>
                <input asp-for="Address" class="form-control mb-1" />
                <span asp-validation-for="Address" class="text" id="danger"></span>
                
                @*@Html.EditorFor(Model => Model.Address, new { htmlAttributes = new { @id="address", @name="address", @required="required" } })
                @Html.ValidationMessageFor(Model => Model.Name)*@
            </div>

            <div class="form-group fw-bold">
                <label asp-for="Email" class="control-label mb-1"></label>
                <input asp-for="Email" class="form-control mb-1" />
                <span asp-validation-for="Email" class="text" id="danger"></span>
            </div>


            <div class="form-group fw-bold">
                <input type="submit" value="Dodaj" class="btn btn-primary btn-lg mx-auto d-block w-25" id="add" />
            </div>
        </form>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
