@model Projekt_MVC.Models.Salon.SalonListViewModel
@{
    ViewData["Title"] = "Lista Salonów";
}
<style>
    body {
        background-color: #d4d4d4;
        
    }
</style>
<h1 class="display-4 text-center link-dark fw-bold mb-3">Dostępne Salony</h1>
<br />
<a class="btn btn-primary btn-lg mx-auto d-block w-75 " asp-controller="SalonList" asp-action="NewSalon" role="button">Dodaj Salon</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="row">ID</th>
            <th scope="row">Name</th>
            <th scope="row">Address</th>
            <th scope="row">Phone</th>
            <th scope="row">Email</th>
            <th scope="row">OpenHours</th>
            <th scope="row">OpenDays<th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GetSalons)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <th scope="row">@item.Name</th>
                <th scope="row">@item.Address</th>
                <th scope="row">@item.Phone</th>
                <th scope="row">@item.Email</th>
                <th scope="row">@item.OpenHours</th>
                <th scope="row">@item.OpenDays</th>

                <td>

                    <a class="btn btn-primary btn-sm float-start" id="delete" asp-controller="SalonList" asp-action="DeleteSalonList" asp-route-id="@item.ID" role="button">Usuń salon</a>
                    <a class="btn btn-primary btn-sm float-end" id="edit" asp-controller="SalonList" asp-action="EditSalonList" asp-route-id="@item.ID" role="button">Edytuj salon</a>
           
                </td>
            </tr>
        }
    </tbody>
</table>
<footer class="border-top footer">
    <div class="text-center">
        Projekt wykonali:
        <a href="https://github.com/Nokijoto">Rafał Wątroba</a>
        i
        <a href="https://github.com/kowu0">Remigiusz Wojak</a>
    </div>
</footer>